streamlit>=1.38.0,<1.41.0
google-genai
Pillow
pydub
soundfile
requests
python-dotenv
beautifulsoup4
googlenewsdecoder
num2words
qrcode[pil]
moviepy
openai
edge-tts
gTTS
openai-whisper
tenacity
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
